<section class="endMeeting">
  <header>
    <img src="/images/disklibras-logo.png" alt="disk libras transparent logo">
    <% if(!isWebRTCVersion) { %>
    <p>Obrigado por usar o Disk Libras</p>
    <% } else { %>
    <p class="bold">Obrigado por usar o Disk Libras</p>
    <% } %>
  </header>
  <% if(!isWebRTCVersion) { %>
  <!--<button id="newCall" class="btn btn-blue btn-padding-large ctaarrow-white">Start a new meeting</button>-->
  <section  class="archives" data-recordings="<%=numArchives%>">
    <div class="content">
      <p class="title recordings">Gravações arquivadas da sua última chamada</p>
      <p class="title no-recordings">Sem gravações arquivadas</p>
      <hr>
      <div class="tc-list videos">
        <ul>
<% for(var i = 0, l = archives.length; i < l; i++) { %>
          <li data-status="<%=archives[i].status%>">
            <a target="_blank" href="<%=archives[i].hrefPrev%>" class="file"><%=archives[i].txtPrev%></a>
            <i data-id="<%=archives[i].id%>" data-icon="delete" data-action="delete" data-username="<%=archives[i].recordingUser%>"></i>
            <a class="download" data-icon="download" href="<%=archives[i].hrefDwnld%>" download="<%=archives[i].dwnldName%>"></a>
          </li>
<% } %>
        </ul>
      </div>
    </div>
  </section>
  <footer data-recordings="<%=numArchives%>">
<% if (sessionId !== 'NOT_AVAILABLE') { %>
    <!--<p> Get more information about the quality of your last meeting using our <a href=" https://tokbox.com/developer/tools/inspector/account/admin/lookupSession?sessionId=<%=sessionId%>">Inspector tool</a>.</p>-->
<%} else {%>
   <!-- <p> Você não se juntou à chamada, portanto nenhuma informação sobre a qualidade está disponível</p>-->
<%}%>
  </footer>
</section>

<section class="tc-modal archive-delete-modal">
  <form class="tc-dialog">
    <i data-icon="close_gray" class="close"></i>
    <header>Delete <span class="username"></span>'s Archive</header>
    <hr>
    <p>Tem certeza de que deseja excluir este arquivo?</p>
    <footer>
      <button class="btn btn-white btn-padding ctaarrow-blue">Cancelar</button>
      <button class="btn btn-blue btn-padding ctaarrow-white delete-archive">Deletar</button>
    </footer>
  </form>
</section>
<% } else { %>
    <!--<div class="toolbar">
      <a target="_blank" href="https://tokbox.com/developer/" class="btn btn-blue btn-padding-large ctaarrow-white">Build a WebRTC app</a>
      <a target="_blank" href="https://tokbox.com/" class="btn btn-white btn-padding-large ctaarrow-blue">Learn about TokBox</a>
    </div>-->
    <% } %>
